@import '../../../variables';

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: $dark-color-1;
	color: $contrast-color;

	h3 {
		margin: 0;
	}

	.avatar {
		width: 2rem;
		height: 2rem;
		overflow: hidden;
		border-radius: 50%;
	}
}