<div class="profile container">

	<div class="left">
		<div class="avatar">
			<img src="https://picsum.photos/155/155" alt="Profile picture">
		</div>
		<h1>Your name</h1>
		<p>email&#64;exemple.com</p>
		<p>06 42 42 42 42</p>

		<button [routerLink]="'/login'" routerLinkActive="router-link-active" class="logout-button">Logout</button>
	</div>

	<div class="right">
		<h3>Example title</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis necessitatibus tempore quas
			voluptas porro nobis dolores nemo vel accusantium, est aspernatur cum laborum minus modi ad laboriosam
			rem inventore?
		</p>
	</div>

</div>