html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	padding: 0 2rem;
	max-width: 100rem;
	margin: auto;
}

.container-fluid {
	padding: 0 2rem;
	margin: auto;
}