$dark-color-1: #111111;
$dark-color-2: #151515;
$dark-color-3: #222222;

$contrast-color: #fce354;
$main-color: whitesmoke;

$danger-color: crimson;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1216px;
$widescreen-breakpoint: 1408px;
$fullhd-breakpoint: 1900px;